.playground-container {
    margin: 5%;
    height: 500px;
    position: relative;
}

.playground {
    margin: 0;
    padding: 0;
    height: 500px;
    top: 0;
    left: 0;
}

.controls {
    margin-left: 5%;
    margin-top: 5%;
    height: 500px;
}

.instructions {
    margin-top: 3%;
    height: 150px;
}

.welcoming-title {
    margin-top: 50px;
    font-size: 2em;
}

.welcoming-text {
    margin-left: 140px;
    margin-right: 140px;
}

.circle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 25px;
    height: 25px;
    background: #232323;
    position: absolute;
}

.circle:hover {
    cursor: pointer;
}

.arrow {
    border-left: 3px solid #232323;
    border-top: 3px solid #232323;
    width: 20px;
    height: 20px;
    position: absolute;
}

.arrow-top-right {
    transform: rotate(90deg);
}

.arrow-left {
    transform: rotate(315deg);
}

.arrow-right {
    transform: rotate(135deg);
}

.arrow-bottom-left {
    transform: rotate(270deg);
}

.arrow-bottom-right {
    transform: rotate(180deg);
}

.arrow-top {
    transform: rotate(45deg);
}

.arrow-bottom {
    transform: rotate(225deg);
}

* {
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}